  <% if article_previous = current_article.article_previous %>
   <section class="next">
     <% link_to("#{article_previous.url}", { class: 'next__link', style: "background-image: url('#{image_path(article_previous.data.image)}');" }) do %>
       <div class="next__container">
         <span>Read Next</span>
         <h2><%= article_previous.data.page_title %></h2>
       </div>
     <% end %>
   </section>
  <% end %>

  <% if article_next = current_article.article_next %>
   <section class="next">
     <% link_to("#{article_next.url}", { class: 'next__link', style: "background-image: url('#{image_path(article_next.data.image)}');" }) do %>
       <div class="next__container">
         <span>Read Next</span>
         <h2><%= article_next.data.page_title %></h2>
       </div>
     <% end %>
   </section>
  <% end %>
